.app{
  margin: 5px 5px;
}

.content{
 margin: 40px auto;
}

.table-content{
  margin: 15px auto;
}

.table-head{
  background-color: rgba(0, 0, 255, 0.486);
}

.table-head .MuiTableCell-root{
color: white;
font-size: 18px;
}

.center{
  text-align: center !important;
}
